USE [telephone]
GO
/****** Object:  Table [dbo].[Adminstrator]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Adminstrator](
	[Id] [nchar](10) NOT NULL,
	[Fname] [nchar](20) NOT NULL,
	[Lname] [nchar](20) NOT NULL,
	[Email] [nchar](50) NOT NULL,
	[Password] [nchar](30) NOT NULL,
 CONSTRAINT [PK_Adminstrator] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CheckOut1]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CheckOut1](
	[ID_Order] [int] IDENTITY(1,1) NOT NULL,
	[OrderName] [nvarchar](50) NULL,
	[OrderDate] [date] NULL,
	[PaymentType] [nvarchar](50) NULL,
	[Status] [nvarchar](50) NULL,
	[Fname] [nvarchar](50) NOT NULL,
	[Lname] [nvarchar](50) NOT NULL,
	[Phone] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[Address] [nvarchar](50) NOT NULL,
	[City] [nvarchar](50) NOT NULL,
	[Credit_Card] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Table_1] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Company]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Company](
	[Id_Company] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nchar](20) NOT NULL,
	[Lname] [nchar](20) NULL,
	[Email] [nchar](50) NOT NULL,
	[Password] [nchar](30) NOT NULL,
	[Phone] [nchar](20) NOT NULL,
 CONSTRAINT [PK_Company] PRIMARY KEY CLUSTERED 
(
	[Id_Company] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Customer]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[Id_Customer] [int] IDENTITY(1,1) NOT NULL,
	[Fname] [nchar](20) NOT NULL,
	[Lname] [nchar](20) NOT NULL,
	[Email] [nchar](30) NOT NULL,
	[Password] [nchar](30) NOT NULL,
	[Phone] [nchar](20) NOT NULL,
	[Credit_crad] [nchar](16) NOT NULL,
	[Address] [nchar](50) NOT NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[Id_Customer] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[OrderDetails]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetails](
	[ProId] [int] NOT NULL,
	[ID_Order] [int] NOT NULL,
	[Price] [money] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_OrderDetails] PRIMARY KEY CLUSTERED 
(
	[ProId] ASC,
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Product]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Product](
	[brand] [nvarchar](450) NULL,
	[model] [nvarchar](450) NULL,
	[GPRS] [nvarchar](450) NULL,
	[availabality] [nvarchar](450) NULL,
	[weight_g] [nvarchar](450) NULL,
	[SIM] [nvarchar](450) NULL,
	[display_type] [nvarchar](450) NULL,
	[display_resolution] [nvarchar](450) NULL,
	[OS] [nvarchar](450) NULL,
	[CPU] [nvarchar](450) NULL,
	[GPU] [nvarchar](450) NULL,
	[memory card] [nvarchar](450) NULL,
	[internal_memory] [nvarchar](450) NULL,
	[RAM] [nvarchar](450) NULL,
	[primary_camera] [nvarchar](450) NULL,
	[secondary_camera] [nvarchar](450) NULL,
	[sensors] [nvarchar](450) NULL,
	[battery] [nvarchar](450) NULL,
	[colors] [nvarchar](450) NULL,
	[approx_price_EGP] [nvarchar](450) NULL,
	[img] [varchar](max) NULL,
	[ProId] [int] IDENTITY(1,1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[ProductOfCompany]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[ProductOfCompany](
	[Id_Of_Product] [int] IDENTITY(1,1) NOT NULL,
	[brand] [nvarchar](450) NULL,
	[model] [nvarchar](450) NULL,
	[GPRS] [nvarchar](450) NULL,
	[availabality] [nvarchar](450) NULL,
	[weight_g] [nvarchar](450) NULL,
	[SIM] [nvarchar](450) NULL,
	[display_type] [nvarchar](450) NULL,
	[display_resolution] [nvarchar](450) NULL,
	[OS] [nvarchar](450) NULL,
	[CPU] [nvarchar](450) NULL,
	[GPU] [nvarchar](450) NULL,
	[memory card] [nvarchar](450) NULL,
	[internal_memory] [nvarchar](450) NULL,
	[RAM] [nvarchar](450) NULL,
	[primary_camera] [nvarchar](450) NULL,
	[secondary_camera] [nvarchar](450) NULL,
	[sensors] [nvarchar](450) NULL,
	[battery] [nvarchar](450) NULL,
	[colors] [nvarchar](450) NULL,
	[approx_price_EGP] [nvarchar](450) NULL,
	[img] [varchar](max) NULL,
 CONSTRAINT [PK_ProductOfCompany] PRIMARY KEY CLUSTERED 
(
	[Id_Of_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Services]    Script Date: 02/09/2019 09:02:19 م ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[Id_Expert] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nchar](50) NOT NULL,
	[Password] [nchar](30) NOT NULL,
	[Id_company] [int] NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[Id_Expert] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
INSERT [dbo].[Adminstrator] ([Id], [Fname], [Lname], [Email], [Password]) VALUES (N'1         ', N'nawal               ', N'zaki                ', N'nawalzaki@gmail.com                               ', N'12345678                      ')
SET IDENTITY_INSERT [dbo].[CheckOut1] ON 

INSERT [dbo].[CheckOut1] ([ID_Order], [OrderName], [OrderDate], [PaymentType], [Status], [Fname], [Lname], [Phone], [Email], [Address], [City], [Credit_Card]) VALUES (2, N'nawal', CAST(N'2019-09-01' AS Date), N'Cash', N'null', N'nawal', N'zaki', N'01068487473', N'nawalzaki@gmail.com', N'ASDDa', N'kjk', N'5454545')
SET IDENTITY_INSERT [dbo].[CheckOut1] OFF
SET IDENTITY_INSERT [dbo].[Company] ON 

INSERT [dbo].[Company] ([Id_Company], [Fname], [Lname], [Email], [Password], [Phone]) VALUES (1, N'Oppo                ', N'                    ', N'Opp@gmail.com                                     ', N'12345678                      ', N'01067588473         ')
SET IDENTITY_INSERT [dbo].[Company] OFF
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([Id_Customer], [Fname], [Lname], [Email], [Password], [Phone], [Credit_crad], [Address]) VALUES (1, N'nawal               ', N'zaki                ', N'nawal                         ', N'123                           ', N'1236                ', N'25              ', N'kkjhkj                                            ')
INSERT [dbo].[Customer] ([Id_Customer], [Fname], [Lname], [Email], [Password], [Phone], [Credit_crad], [Address]) VALUES (2, N'nawal               ', N'zaki                ', N'nawalzaki@gmail.com           ', N'123                           ', N'01068487473         ', N'566566          ', N'minin                                             ')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

GO
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[ProductOfCompany] ON 

GO
SET IDENTITY_INSERT [dbo].[ProductOfCompany] OFF
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([Id_Expert], [Email], [Password], [Id_company]) VALUES (1, N'nawal@yahoo.com                                   ', N'12345678                      ', 1)
SET IDENTITY_INSERT [dbo].[Services] OFF
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_CheckOut1] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[CheckOut1] ([ID_Order])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_CheckOut1]
GO
ALTER TABLE [dbo].[OrderDetails]  WITH CHECK ADD  CONSTRAINT [FK_OrderDetails_Product] FOREIGN KEY([ProId])
REFERENCES [dbo].[Product] ([ProId])
GO
ALTER TABLE [dbo].[OrderDetails] CHECK CONSTRAINT [FK_OrderDetails_Product]
GO
ALTER TABLE [dbo].[Services]  WITH CHECK ADD FOREIGN KEY([Id_company])
REFERENCES [dbo].[Company] ([Id_Company])
GO
