
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}
<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Order Confirmation</h2>
                        <p>Home <span>-</span> Order Confirmation</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="confirmation_part padding_top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="confirmation_tittle">
                    <h2>
                        <span>

                            Thank you. Your order has been received.


                            In the event of a cancellation of the application <br />
                            you will be responsible for all expenses and <br />
                            if you disagree with the request does not complete the procedures
                            <br /> and cancel the request immediately!!

                        </span>
                    </h2>
                </div>
            </div>



        </div>
    </div>
</section>

