
@{
    ViewBag.Title = "OrderSuccess";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<section class="breadcrumb breadcrumb_bg">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="breadcrumb_iner">
                    <div class="breadcrumb_iner_item">
                        <h2>Order Success</h2>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="cart_area padding_top">
    <div class="container">
        <div class="cart_inner">

            <h1>Your Order Has Been Placed Successfully . Please  Click  @Html.ActionLink("Here","Index1","Product") To Go TO Home Page </h1>
            </div>
        </div>
    </section>

